
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <br /><br />
    <div class="card">

        <div class="card-body" style="background-color:lightgray;">
            <h5 class="card-title">Change PASSWORD</h5>
            <div class="container-fluid">
                <div class="mt-2 text-start">

                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="firstName" class="form-label">Old Password</label>
                            <input type="text" class="form-control" id="op" >
                        </div>
                        <div class="col-md-6">
                            <label for="lastName" class="form-label">New Password</label>
                            <input type="text" class="form-control"  id="np">
                        </div>
                      
                        <div class="col-12">
                            <div class="mt-4">
                                <a onclick="ChangePassword()" class="btn btn-primary btn-lg">Save</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



@section scripts{
    <script>

        var ChangePassword = function () {
            var op = $("#op").val();
            var np = $("#np").val();
            if (op != "" && np != "" ) {
                $.ajax({
                    url: "/Home/ChangePassword",
                    type: "post",
                    data: { OldPassword: op, NewPassword:np },
                    success: function (res) {

                        if (res == "true") {

                            swal({
                                title: "success", text: "Successfully Changed!", type: "success"
                            }).then(function () {
                                location.reload();
                            });
                        }

                        else {
                            swal('error!', res, 'error');
                        }
                    }

                });
            }
            else {
                swal('error!', "Please fill all fields !", 'error');
            }


        }






    </script>
}

